@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body,
html {
  height: 100%;
  position: relative;
}

body {
  font-size: 14px;
  color: #000;
  font-family: "Sora", sans-serif;
}

a {
  text-decoration: none;
  transition: all .5s ease;
}

.date {
  font-size: 12px;
  color: #ffffff;
  display: table;
}

.ihk-button {
  background-color: #003466;
  color: #ffffff;
  padding: 11px 42px;
  border: 1px solid #003466;
}

.ihk-button:hover {
  color: #003466;
  background-color: #ffffff;
}

/*--- NAVBAR ---*/
.ihk-navbar {
  padding: 0;
  background-color: #ffffff;
  width: 100%;
}

.ihk-navbar .navbar-toggler {
  margin-left: 1rem;
  border: none;
}

.ihk-navbar .navbar-toggler:hover, .ihk-navbar .navbar-toggler:focus {
  box-shadow: none;
  border: none;
}

.ihk-navbar .navbar-toggler .navbar-toggler-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ihk-navbar .ihk-nav__logo {
  position: relative;
  margin: 0 auto;
}

.ihk-navbar .ihk-nav__logo a {
  padding: 1rem 50px 1rem 40px;
  position: relative;
  z-index: 3;
}

.ihk-navbar .ihk-nav__logo::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: -10px;
  left: 0;
  width: 30px;
  z-index: 2;
  display: none;
  background-color: #005977;
}

.ihk-navbar .ihk-nav__logo::after {
  background-color: #005977;
  transform: skew(-30deg);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  content: "";
}

.ihk-navbar .ihk-nav__list {
  padding-left: 50px;
}

.ihk-navbar .ihk-nav__list ul li {
  padding: 0 1px;
}

.ihk-navbar .ihk-nav__list ul li a {
  display: block;
  color: rgba(0, 0, 0, 0.6);
  padding: 35px 1rem;
  position: relative;
}

.ihk-navbar .ihk-nav__list ul li a::after {
  height: 3px;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EE8300;
  display: none;
}

.ihk-navbar .ihk-nav__list ul li a:hover,
.ihk-navbar .ihk-nav__list ul li.active a {
  color: #EE8300;
  font-weight: 700;
}

.ihk-navbar .ihk-nav__list ul li a:hover:after,
.ihk-navbar .ihk-nav__list ul li.active a:after {
  display: block;
}

.ihk-navbar .ihk-nav__right {
  padding-right: 1rem;
}

.ihk-navbar .ihk-nav__right ul {
  display: flex;
  align-items: center;
}

.ihk-navbar .ihk-nav__right ul li a {
  display: block;
  padding: 1rem .5rem;
}

.ihk-navbar .nav-header {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 92px;
  border-bottom: 1px solid #DEDEDE;
}

.ihk-navbar .nav-header h5 {
  font-size: 1.125rem;
  color: #003466;
  margin-bottom: 0;
  margin-right: auto;
}

.ihk-navbar .nav-header button {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1080;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transition: transform .3s ease-in-out;
}

.offcanvas {
  will-change: transform, box-shadow;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), box-shadow 0.3s ease;
  box-shadow: none;
  visibility: visible !important;
}

.offcanvas:not(.offcanvas-end):not(.offcanvas-bottom) {
  top: 0;
  left: 0;
  width: 22rem;
  border-right: 0 solid transparent;
  transform: translateX(-100%);
}

.offcanvas[data-offcanvas-show],
.offcanvas.show {
  transform: none !important;
}

@media (min-width: 992px) {
  .ihk-navbar .ihk-nav__logo {
    margin: 0;
  }
  .ihk-navbar .ihk-nav__logo::before {
    display: block;
  }
  .ihk-navbar .ihk-nav__logo::before, .ihk-navbar .ihk-nav__logo::after {
    bottom: -10px;
  }
  .ihk-navbar .ihk-nav__right {
    padding-right: 2rem;
  }
  .ihk-navbar .nav-header {
    display: none;
  }
  .ihk-navbar .offcanvas-collapse {
    display: block;
    position: static;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    transform: none !important;
    background-color: transparent;
  }
}

@media (max-width: 991px) {
  .offcanvas.ihk-nav__list {
    padding-left: 0;
  }
  .offcanvas.ihk-nav__list ul li {
    padding: 0 8px;
  }
  .offcanvas.ihk-nav__list ul li a {
    padding: 12px;
  }
  .offcanvas.ihk-nav__list ul li a::after {
    height: 2px;
  }
}

@media (max-width: 575px) {
  .ihk-navbar .nav-header {
    padding: 10px 20px;
    height: 47px;
  }
  .ihk-navbar .nav-header h5 {
    font-size: 1rem;
  }
  .ihk-navbar .ihk-nav__logo a {
    padding: 10px;
  }
  .ihk-navbar .ihk-nav__logo a img {
    width: 125px;
    margin-top: -5px;
  }
  .ihk-navbar .navbar-toggler {
    margin-left: 0;
  }
  .ihk-navbar .ihk-nav__right {
    padding-right: 0;
  }
  .ihk-navbar .ihk-nav__right ul li a {
    padding: .5rem;
  }
}

/*--- ARTICLE ---*/
.ihk-article {
  display: flex;
  align-items: center;
}

.deskrip__left h3 {
  font-size: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #003466;
}

.deskrip__left p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.8);
}

.deskrip__left a {
  color: #EE8300;
  font-family: "Arimo", sans-serif;
  display: table;
}

.deskrip__left a:hover {
  color: #003466;
}

/*--- HEADLINE ---*/
section {
  padding: 80px 0;
  position: relative;
}

section .img-block {
  display: block;
}

section .img-block img {
  width: 100%;
}

section .desc-bottom,
section .desc-right {
  margin-top: 20px;
}

section .desc-bottom h4,
section .desc-right h4 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

section .desc-bottom h4 a,
section .desc-right h4 a {
  color: #333;
  display: block;
}

section .desc-bottom h4 a:hover,
section .desc-right h4 a:hover {
  color: #EE8300;
}

section .desc-bottom h5,
section .desc-right h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

section .desc-bottom h5 a,
section .desc-right h5 a {
  color: #333;
  display: block;
}

section .desc-bottom h5 a:hover,
section .desc-right h5 a:hover {
  color: #EE8300;
}

section .desc-bottom p,
section .desc-right p {
  color: #555;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
  overflow: hidden;
}

section .desc-right {
  margin-top: 0;
  padding-left: 20px;
  display: table-cell;
  vertical-align: top;
}

@media (max-width: 767px) {
  section .desc-right {
    margin-top: 20px;
    display: block;
    padding-left: 0;
  }
}

#ihk-section__headline {
  position: relative;
  padding: 0;
}

#ihk-section__headline img {
  width: 100%;
}

#ihk-section__headline .ihk-slide__item {
  position: relative;
  display: flex;
  align-items: center;
}

#ihk-section__headline .container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#ihk-section__headline .ihk-headline__abs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  max-width: 590px;
  display: flex;
  align-items: center;
}

#ihk-section__headline .ihk-headline__desc {
  background-color: rgba(0, 52, 102, 0.8);
  border-left: 3px solid #EE8300;
  padding: 30px 35px;
  color: #ffffff;
}

#ihk-section__headline .ihk-headline__desc span {
  font-size: 14px;
  display: table;
  margin-bottom: .5rem;
}

#ihk-section__headline .ihk-headline__desc h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 15px;
}

#ihk-section__headline .ihk-headline__desc p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 36px;
  overflow: hidden;
}

#ihk-section__headline .ihk-headline__desc a {
  color: #EE8300;
  font-size: 14px;
  display: table;
}

#ihk-section__headline .ihk-headline__desc a:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  #ihk-section__headline .ihk-headline__abs {
    max-width: 90%;
  }
  #ihk-section__headline .ihk-headline__desc {
    padding: 10px;
  }
  #ihk-section__headline .ihk-headline__desc span {
    margin-bottom: 0;
    font-size: 10px;
  }
  #ihk-section__headline .ihk-headline__desc h1 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  #ihk-section__headline .ihk-headline__desc p {
    margin-bottom: 0;
    font-size: 12px;
  }
  #ihk-section__headline .ihk-headline__desc a {
    font-size: 12px;
  }
}

#ihk-section__headline_article::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  width: 249px;
  background-color: #EE8300;
  z-index: -1;
}

#ihk-section__headline_article::after {
  background-color: #003466;
  height: 204px;
  width: 204px;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  z-index: -1;
}

#ihk-section__headline_article .ihk-article__abs {
  position: relative;
  padding: 0 40px;
}

#ihk-section__headline_article .ihk-article__abs .deskrip__abs {
  position: absolute;
  left: 40px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 3;
}

#ihk-section__headline_article .ihk-article__abs .deskrip__left {
  padding: 40px;
  background-color: #ffffff;
  max-width: 590px;
  width: 100%;
}

#ihk-section__headline_article .ihk-article__abs .deskrip__left h5 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.8);
}

#ihk-section__headline_article .ihk-article__abs .deskrip__left a {
  margin-top: 1.5rem;
}

#ihk-section__headline_article .ihk-article__abs .img__right {
  position: relative;
  margin-left: auto;
  display: table;
}

#ihk-section__headline_article .ihk-article__abs .img__right img {
  max-width: 100%;
}

@media (max-width: 991px) {
  #ihk-section__headline_article::before {
    width: 160px;
  }
  #ihk-section__headline_article::after {
    width: 155px;
    height: 155px;
  }
  #ihk-section__headline_article .ihk-article__abs {
    padding: 0;
  }
  #ihk-section__headline_article .ihk-article__abs .deskrip__abs {
    position: relative;
    left: 0;
    display: table;
    margin: 15px auto 0 auto;
  }
  #ihk-section__headline_article .ihk-article__abs .deskrip__abs .deskrip__left {
    padding: 20px 30px;
  }
}

@media (max-width: 767px) {
  section {
    padding: 40px 0;
  }
  #ihk-section__headline_article .ihk-article__abs .deskrip__abs {
    margin: 0 auto;
  }
  #ihk-section__headline_article .ihk-article__abs .img__right {
    margin: 0 auto;
    text-align: center;
  }
  #ihk-section__headline_article .ihk-article__abs .img__right img {
    max-width: 80%;
  }
  #ihk-section__headline_article::before {
    top: auto;
    height: 160px;
  }
}

/*--- YOUTUBE ---*/
#ihk-section__ytb {
  background-color: #F4F4F4;
}

#ihk-section__ytb::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 46px;
  width: 183px;
  right: 0;
  background-color: #EE8300;
}

#ihk-section__ytb .ihk-ytb__header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
  margin-bottom: 20px;
}

#ihk-section__ytb .ytb-header__left,
#ihk-section__ytb .ytb-header__right {
  display: flex;
  align-items: center;
}

#ihk-section__ytb .ytb-header__left .ytb-photo {
  margin-right: 20px;
}

#ihk-section__ytb .ytb-header__left .ytb-photo img {
  border-radius: 50%;
}

#ihk-section__ytb .ytb-header__left .ytb-desc h5 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

#ihk-section__ytb .ytb-header__left .ytb-desc ul {
  margin: 0 -5px;
}

#ihk-section__ytb .ytb-header__left .ytb-desc ul li {
  color: rgba(0, 0, 0, 0.6);
  font-size: 10px;
}

#ihk-section__ytb .ytb-header__left .ytb-desc ul li a {
  color: rgba(0, 0, 0, 0.6);
  display: block;
  padding: 0 5px;
}

#ihk-section__ytb .ytb-header__left .ytb-desc ul li a:hover {
  color: #EE8300;
}

#ihk-section__ytb .ytb-header__right {
  align-items: normal;
}

#ihk-section__ytb .ytb-header__right span {
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  border: 1px solid #DEDEDE;
  border-left: 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#ihk-section__ytb .ihk-ytb__content .ihk-ytb__item .desc-bottom h5 a {
  color: #003466;
}

#ihk-section__ytb .ihk-ytb__content .ihk-ytb__item .desc-bottom h5 a:hover {
  color: #EE8300;
}

#ihk-section__ytb .ihk-ytb__content .ihk-ytb__item .desc-bottom span {
  color: rgba(0, 0, 0, 0.6);
}

#ihk-section__ytb .ihk-ytb__content .ihk-ytb__item .desc-bottom ul {
  margin: 0 -2px;
}

#ihk-section__ytb .ihk-ytb__content .ihk-ytb__item .desc-bottom ul li {
  color: rgba(0, 53, 102, 0.6);
  padding: 0 2px;
  font-size: 12px;
}

#ihk-section__ytb .ihk-ytb__content .ihk-ytb__item .desc-bottom ul li a {
  color: rgba(0, 53, 102, 0.6);
  display: block;
}

#ihk-section__ytb .ihk-ytb__content .ihk-ytb__item .desc-bottom ul li a:hover {
  color: #EE8300;
}

@media (max-width: 767px) {
  #ihk-section__ytb .ytb-header__left {
    display: block;
  }
  #ihk-section__ytb .ytb-header__left .ytb-photo {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  #ihk-section__ytb .ihk-ytb__header {
    display: block;
  }
  #ihk-section__ytb .ihk-ytb__header .ytb-header__right {
    margin-top: 15px;
  }
}

/*--- LATEST ACTIVITY ---*/
.title-border {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  position: relative;
  padding-left: 52px;
}

.title-border::before {
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #EE8300;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  content: "";
}

.title-border.title-border__center {
  display: table;
  margin: 0 auto;
  padding-right: 52px;
}

.title-border.title-border__center::after {
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #EE8300;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  content: "";
}

.link-more {
  display: table;
  font-size: 14px;
  color: #EE8300;
}

.link-more img {
  transition: all .5s ease;
}

.link-more:hover {
  color: #EE8300;
}

.link-more:hover img {
  margin-left: 5px;
}

#ihk-section__la {
  background-color: #003466;
}

#ihk-section__la .ihk-la__left {
  margin-right: 40px;
}

#ihk-section__la .ihk-la__left .title-border {
  color: #ffffff;
  margin-bottom: 70px;
}

#ihk-section__la .ihk-la__left .link-more {
  margin-left: auto;
}

#ihk-section__la .ihk-la__item h5 {
  font-size: 14px;
}

#ihk-section__la .ihk-la__item h5 a {
  color: #ffffff;
}

#ihk-section__la .ihk-la__item h5 a:hover {
  color: #EE8300;
}

@media (max-width: 991px) {
  #ihk-section__la .ihk-la__left {
    margin-right: 0;
    margin-bottom: 20px;
  }
  #ihk-section__la .ihk-la__left .title-border {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  #ihk-section__ytb .ihk-ytb__content .ihk-ytb__item,
  #ihk-section__la .ihk-la__item {
    margin-bottom: 25px;
  }
}

/*--- GALLERY ---*/
.ihk-gf__content {
  display: flex;
}

.ihk-gf__content .ihk-gf__gallery {
  margin-right: 20px;
}

.ihk-gallery {
  max-width: 950px;
  width: 100%;
}

.ihk-gallery .ihk-gallery__item {
  position: relative;
  float: left;
  width: 33.33%;
  height: 298px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.ihk-gallery .ihk-gallery__item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, transparent 36.98%, rgba(0, 0, 0, 0.8) 100%);
  z-index: 1;
}

.ihk-gallery .ihk-gallery__item .ihk-gallery__desc {
  position: relative;
  z-index: 2;
  padding: 15px;
}

.ihk-gallery .ihk-gallery__item .ihk-gallery__desc h5 {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}

.ihk-gallery .ihk-gallery__item .ihk-gallery__desc h5 a {
  display: block;
  color: #ffffff;
}

.ihk-gallery .ihk-gallery__item .ihk-gallery__desc h5 a:hover {
  color: #EE8300;
}

@media (max-width: 1024px) {
  .ihk-gallery .ihk-gallery__item {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .ihk-gf__content {
    display: block;
  }
  .ihk-gf__content .ihk-gf__gallery {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .ihk-gf__content .ihk-gf__gallery .ihk-gallery__item {
    height: 255px;
  }
}

@media (max-width: 575px) {
  .ihk-gf__content .ihk-gf__gallery .link-more {
    margin-top: 10px;
    margin-left: auto;
  }
  .ihk-gf__content .ihk-gf__gallery .ihk-gallery__item {
    width: 100%;
    height: 250px;
  }
}

/*--- LOCATION ---*/
.ihk-location .mapouter {
  position: relative;
  text-align: right;
  height: 400px;
  width: 100%;
  margin-top: 30px;
}

.ihk-location .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
  width: 100%;
}

.ihk-location .gmap_canvas #gmap_canvas {
  width: 100%;
  height: 100%;
}

.ihk-sponsor {
  padding-top: 70px;
}

.ihk-sponsor .ihk-sponsor__list {
  margin-left: auto;
  display: table;
}

.ihk-sponsor .ihk-sponsor__list ul {
  display: table;
  margin: 0 -40px;
}

.ihk-sponsor .ihk-sponsor__list ul li {
  padding: 0 40px;
  display: inline-block;
}

@media (max-width: 991px) {
  .ihk-sponsor .ihk-sponsor__list ul {
    text-align: center;
    margin: 0;
  }
  .ihk-sponsor .ihk-sponsor__list ul li {
    padding: 10px 25px;
  }
}

@media (max-width: 767px) {
  .ihk-sponsor .title-border {
    margin-bottom: 30px;
  }
}

/*--- INSTAGRAM ---*/
#ihk-section__ig {
  background-color: #F4F4F4;
  padding-bottom: 0;
}

#ihk-section__ig .ihk-ig__feed {
  text-align: center;
}

#ihk-section__ig .ihk-ig__feed div {
  display: inline-block;
}

@media (max-width: 767px) {
  #ihk-section__ig .ihk-ig__feed div:nth-last-child(4),
  #ihk-section__ig .ihk-ig__feed div:nth-last-child(3),
  #ihk-section__ig .ihk-ig__feed div:nth-last-child(2),
  #ihk-section__ig .ihk-ig__feed div:last-child {
    display: none;
  }
}

.ihk-instagram {
  display: flex;
  align-items: center;
  max-width: 589px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #DEDEDE;
  padding: 20px;
  margin-bottom: 20px;
}

.ihk-instagram .ihk-ig__pd {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.ihk-instagram .ihk-ig__pd .ihk-ig__photo {
  margin-right: 20px;
}

.ihk-instagram .ihk-ig__pd .ihk-ig__desc h5 {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 5px;
}

.ihk-instagram .ihk-ig__pd .ihk-ig__desc span {
  color: #777;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.ihk-instagram .ihk-ig__follow a {
  display: table;
  background-color: #0095F6;
  color: #ffffff;
  border-radius: 3px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 7px 22px;
}

/*--- FOOTER ---*/
.ihk-footer__top {
  background-color: #005977;
  padding: 65px 0;
}

.ihk-footer__top .ihk-footer__logo img {
  max-width: 100%;
}

.ihk-footer__top h5 {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  margin: 20px 0;
}

.ihk-footer__top p {
  margin-bottom: 0;
  font-size: 14px;
  color: #ffffff;
  line-height: 28px;
}

.ihk-footer__bottom {
  padding: 1rem 0;
  background-color: #003466;
}

.ihk-footer__bottom span {
  color: #ffffff;
  display: block;
  text-align: center;
}

.ihk-list__sosmed {
  margin: 0 -5px;
}

.ihk-list__sosmed li {
  display: inline-block;
  padding: 0 5px;
}

.ihk-list__sosmed li a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.11);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) and (min-width: 576px) {
  .ihk-footer__top .ihk-footer__address {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .ihk-footer__top {
    padding: 40px 0;
  }
}

/*--- HEADER ---*/
.ihk-section__header {
  background-image: url(../img/header.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}

.ihk-section__header:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border-bottom: 92px solid #EE8300;
  border-right: 40px solid transparent;
}

.ihk-section__header:before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 92px solid #EE8300;
  border-left: 40px solid transparent;
}

.ihk-section__header h3 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 10px;
}

.ihk-section__header .ihk-breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.ihk-section__header .ihk-breadcrumb li {
  padding: 0 3px;
  color: rgba(255, 255, 255, 0.6);
}

.ihk-section__header .ihk-breadcrumb a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}

.ihk-section__header .ihk-breadcrumb a:hover {
  color: #EE8300;
}

/*--- CONTENT ACTIVITY ---*/
.ihk-activity__body .ihk-link__button {
  display: table;
  margin: 10px auto;
}

.ihk-activity__body .ihk-link__button .ihk-button:first-child {
  margin-right: 20px;
}

.ihk-activity__head .desc-bottom .date,
.ihk-activity__body .desc-right .date {
  color: #333;
  margin-bottom: 10px;
}

.ihk-activity__body .desc-right p {
  -webkit-line-clamp: 3;
  height: 63px;
}

.ihk-list {
  margin-top: 30px;
}

.ihk-list li {
  display: table;
  padding: 30px 0;
  border-top: 1px solid #DEDEDE;
}

.ihk-list .img-left {
  width: 285px;
  display: table-cell;
}

.ihk-list .img-left img {
  width: 100%;
}

.ihk-activity__right h4 {
  font-size: 24px;
  color: #333;
  margin-bottom: 0;
}

.ihk-activity__right .ihk-list {
  margin-top: 0;
}

.ihk-activity__right .ihk-list li {
  border: none;
  padding-bottom: 0;
}

.ihk-activity__right .ihk-list li h5 {
  margin-bottom: 10px;
}

.ihk-activity__right .desc-bottom .date {
  color: #666;
}

@media (max-width: 991px) {
  .ihk-list .img-left {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .ihk-activity__body .ihk-link__button {
    margin-bottom: 40px;
  }
  .ihk-list .img-left {
    display: block;
    width: 100%;
  }
}

/*--- CONTENT PROFILE ---*/
.title-content {
  font-size: 32px;
  color: #003466;
  font-weight: 600;
  margin-bottom: 25px;
}

.ihk-profile__left h5 {
  font-size: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #333;
  margin-bottom: 20px;
}

.ihk-profile__left p {
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 20px;
}

.ihk-profile__left .img-location {
  max-width: 100%;
}

.ihk-sidebar {
  border: 1px solid #DEDEDE;
}

.ihk-sidebar__item:last-child {
  margin-top: 1px;
}

.ihk-sidebar__item .ihk-sidebar__head {
  background-color: #F4F4F4;
}

.ihk-sidebar__item .ihk-sidebar__head a {
  padding: 15px 30px;
  font-weight: 600;
  font-size: 14px;
  color: #333;
  display: block;
}

.ihk-sidebar__item .ihk-sidebar__head a:hover {
  color: #EE8300;
}

.ihk-sidebar__item .ihk-sidebar__body {
  padding-top: 10px;
  padding-bottom: 25px;
}

.ihk-sidebar__item .ihk-sidebar__body a {
  color: #333;
  display: block;
  padding: 5px 30px;
}

.ihk-sidebar__item .ihk-sidebar__body a:hover {
  color: #EE8300;
}

@media (max-width: 767px) {
  .ihk-sidebar {
    margin-top: 30px;
  }
}

/*--- GALLERY ---*/
#ihk-section__gallery .ihk-glr__item {
  margin-bottom: 40px;
}

.ihk-gallery__content {
  max-width: 795px;
  width: 100%;
  margin: 0 auto;
}

.ihk-gallery__content .link-back {
  font-weight: 300;
  color: #000;
  display: table;
  margin-bottom: 10px;
}

.ihk-gallery__slide .gallery-main img {
  width: 100%;
}

.ihk-gallery__slide .gallery-main__item {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 486px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 15px;
}

.ihk-gallery__slide .gallery-main__desc {
  color: #ffffff;
  font-weight: 300;
}

.ihk-gallery__slide .gallery-nav {
  margin: 0 -10px;
  margin-top: 35px;
}

.ihk-gallery__slide .gallery-nav .slick-slide {
  padding: 0 10px;
  position: relative;
}

.ihk-gallery__slide .gallery-nav .slick-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
}

.ihk-gallery__slide .gallery-nav .slick-slide.slick-current::before {
  display: none;
}

.ihk-gallery__slide .gallery-nav img {
  width: 100%;
}

@media (max-width: 767px) {
  .ihk-gallery__slide .gallery-main__item {
    height: 280px;
  }
}

/*--- PUBLICATION ---*/
#ihk-section__publication .ihk-sosmed__share {
  display: table;
  margin: 0 auto;
}

.ihk-publication__item {
  background-color: #F4F4F4;
}

.ihk-publication__item .ihk-publication__img {
  display: block;
  text-align: center;
}

.ihk-publication__item .ihk-publication__img img {
  max-width: 100%;
}

.ihk-publication__item .ihk-publication__desc h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333;
  font-size: 16px;
  padding: 20px;
}

.ihk-sosmed__share {
  margin-top: 40px;
}

.ihk-sosmed__share .ihk-list__sosmed .title {
  font-size: 14px;
  font-weight: 600;
}

.ihk-sosmed__share .ihk-list__sosmed li a {
  background-color: #005977;
}
